{
  "extends": "react-app",
  "rules": {
    "semi": [
      "warn",
      "never"
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "linebreak-style": [
      "warn",
      "unix"
    ],
    "eol-last": [
      "warn",
      "always"
    ],
    "comma-dangle": [
      "warn",
      "always-multiline"
    ],
    "no-unused-expressions": "warn",
    "no-unused-vars": "warn",
    "no-unused-labels": "warn"
  }
}
